/* This is the main css sheet. Default settings across the website will be found here*/
/* Fonts */
@font-face{
	font-family: Stellar;
	src: url("../fonts/Stellar-Light.otf");
}
@font-face{
	font-family: Hewitt;
	src: url("../fonts/CooperHewitt-Light.otf");
}
@font-face{
	font-family: Ruthie;
	src: url("../fonts/Ruthie.otf");
}
.OpenSans{ font-family: 'Open Sans', sans-serif; }
.Roboto{ font-family: 'Roboto', sans-serif; }
.Ruthie{ font-family: 'Ruthie', cursive; }
/* Universal Css Sheet */
*{
	border-radius: 0 !important;
      font-family: Hewitt;
}
p{ font-size:16px; }
.row{ margin:0; }

/* Full Cover Background Pics*/
.BGP{
      background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
      background-attachment: fixed;
}
.ABM{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

/*Easy Color*/
.LBlue{ color: #2980b9; }
.LBlue1{ color: rgba(41, 128, 185, 0.0); }
.LGrey{ color: #455A64; }
.LGrey{ color: rgba(69, 90, 99, 0.0); }

/* Image Sizes */
.fullwidth{ width: 100%; }
.width80{ width:80%; }
.width50{ width:50%; }
.fullheight{ height:100%; }

/* Alignment */
.TAL{ text-align: left; }
.ITC{ font-style: italic; }
.TAR{ text-align: right; }
.TAS{ text-align: center; }
.TNS{ padding-top: 60px; }

/* Text */
.TI{ text-indent: 25px; }
.CAP{ text-transform: uppercase; }


/* Nav */
@media screen and (max-width: 750px) {
      .SMND{ display: none; }
      .SMTAS{ text-align: center; }
}
