.hero{
      background-image:url("../../img/hero.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-attachment: fixed;
      height:100vh;
      color: white;
}
.hero-content{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.hero-h1{font-size:5em;}
.hero-h1logo{height:1em;}
.hero-a{padding: 20px 45px; font-size: 1.3em; float:right; transition: color 1s, background-color 1s;
      border: 3px solid white;
      color:white;
}
.hero-a:hover{
      color:#2980b9;
      background-color: white;
}

.content1{
      color:white;
      padding: 100px 0px;
      background-color:#455A64;
}

.content2{
      height:50vh;
      background-color:#FF9800;

}
.content2-colimg{
      padding:0;
}
.content2-img{
      height:50vh;
}

.content3{
      height:50vh;
      background-color:#344463;
}
.content3-colimg{
      padding:0;
}
.content3-img{
      height:50vh;
      float:right;
}

.content-con{height:50vh;}



.content4{
      height:50vh;
      background-color:#235563;
}

.content5{
      height:50vh;
      background-color:#E91E63;
}
