@font-face{
	font-family: Stellar;
	src: url("../../fonts/Stellar-Light.otf");
}

.OpenSans{font-family: 'Open Sans', sans-serif;}
.Abel{font-family: 'Abel', sans-serif;}
.Playfair{font-family: 'Playfair Display', serif;}
.Cinzel{font-family: 'Cinzel', serif;}
.Alegreya{font-family: 'Alegreya SC', serif;}
.Gloria{font-family: 'Gloria Hallelujah', cursive;}
.Amatic{font-family: 'Amatic SC', cursive;}
.Roboto{font-family: 'Roboto', sans-serif;}
