/* Universal Css Sheet */
*{
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
      font-family: Stellar;
}
p{
      font-size:16px;
}
/* Images */
.fullwidth{width: 100%;}
.width80{width:80%;}
.fullheight{height:100%;}

/* Alignment */
.TAS{text-align: center;}
.TAR{text-align:right;}
.TAL{text-align:left;}
/* Nav */
@media screen and (max-width: 750px) {
      .SMND{display: none;}
      .SMTAS{text-align: center;}
}
.TNS{padding-top:80px;}
/* Text */
.CAP{text-transform: uppercase;}
.TI{
      text-indent: 25px;
}

/*Easy Color*/
.LBlue{
      color: #2980b9;
}
