/* General Styles */
.main{ background-image:url("../../img/index/backindex.png"); color: white; }

/* Hero Styles */
.hero{
      background-image:url("../../img/index/Hbackindex.png");
      height:100vh;
}
.hero-h1{ text-align: left; font-size: 6em; }
.hero-a{
      color: white;
      transition: all 1s;
      font-size: 1.4em;
      transition-delay: 6s;
      padding: 20px 45px;
}
.hero-a:hover{
      color: white;
      animation-name: color;
      animation-duration: 2s;
      background-color: #2980b9;
}
@keyframes color {
      0% {background-color: transparent;}
      20% {background-color: #BA68C8;}
      40% {background-color: #EC407A;}
      60% {background-color: #FF9800;}
      80% {background-color: #009688;}
      100% {background-color: #2980b9;}
}

/* Content 1 + 2 Shared Styles */
.content1, .content2{ padding:100px 50px; }
.C1h1, .C2h1{ padding-left:10px; padding-right: 10px; }

/* Content1 Styles */
.content1{ background-image:url("../../img/index/c1index1.png"); }
.C1h1{ border-left: 5px solid white; }

/* Content 2 Styles */
.content2{ background-image:url("../../img/index/c2index1.png"); }
.C2h1{ text-align: right; border-right: 5px solid white; }

/* Content2B Styles */
.content2B{
      background-image: url("../../img/index/c2bindex.png");
      padding: 150px 50px;
}
.C2Bsign{ width:300px; }

/* Content 3 Styles */
.content3{ margin:0; padding:100px 0px; }
.C3S{ font-size: 1.3em; }
.C3P{ font-size: 1.7em; font-weight: bold; }
.C3P1{ font-size: 3em; font-weight: bold; }

/* Content 3 Timer Styles */
.C3Timer{ padding: 100px 0px; }

/* Content 4 Styles */
.content4{ margin:0; padding:150px 0px; background-color: rgba(41, 128, 185, 0.82); }
