.main{
      height:100vh;
      background-image: url("../../img/Hero.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
}
.hero{position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%);}
.logoimg{
      height:10em;
      transition: height 2s;
}
.logoimg:hover{
      height:11em;
}
.h3-H{text-transform: uppercase;}
.h3a-H{font-style: italic; text-transform: uppercase;}
.footer{position:absolute; top:95%; left: 50%; transform: translate(-50%, -50%);}
.fafacebooka{color:white; font-size: 1.5em; padding: 0px 15px; transition: font-size 1s;}
.fafacebooka:hover{color:white; font-size: 2em;}
.fainstagrama{color:white; font-size: 1.5em; padding: 0px 15px; transition: font-size 1s;}
.fainstagrama:hover{color:white; font-size: 2em;}
